@use "./variables" as vars;

body {
  background-color: vars.$base-white;
  color: vars.$base-black;
  font-size: 16px;
}

[data-theme="dark"] {
  body {
    background-color: vars.$base-black;
    color: vars.$base-white;
  }
}
